<?xml version="1.0" encoding="UTF-8"?>
<server description="Membership System server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-8.0</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <httpEndpoint id="defaultHttpEndpoint" httpPort="${default.http.port}" httpsPort="${default.https.port}" host="*" />

    <application location="membership-system.war" type="war" context-root="/"></application>

    <!-- Derby Library Configuration -->
    <library id="derbyJDBCLib">
        <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
    </library>

    <!-- Datasource Configuration -->
    <dataSource id="employeejpadatasource" jndiName="jdbc/employeejpadatasource">
        <jdbcDriver libraryRef="derbyJDBCLib" />
        <properties.derby.embedded databaseName="EmployeeDB" createDatabase="create" />
    </dataSource>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

</server>